
*{font-family:sans-serif;}

.settings { display: block; text-align:center}


#paint {border: 1px solid black; background : rgba(250,250,250,0.5);  display: block;}
#bg {border: 1px solid black; background : #fff; margin-left: auto; margin-right: auto; display: block;}
